<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    <link rel="stylesheet" href=" {% static 'music/style.css' %} " />

    <title>{% block title %} Music App {% endblock %} </title>
</head>
<body>
    <!-- header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href=" {% url 'music:index' %} ">Music</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href=" {% url 'music:index'  %}">
                        <i class="fas fa-compact-disc"></i>&nbsp;
                        Albums
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-music"></i>&nbsp;
                        Songs
                    </a>
                </li>
                <form class="form-inline my-2 my-lg-0 " method="GET" action="#">
                    <input class="form-control mr-sm-2" id="nav-search" type="search" aria-label="Search">
                    <button class="btn btn-default my-2 my-sm-0" id="nav-btn" type="submit">Search</button>
                </form>
            </ul>
    
            <ul class="navbar-nav mr-right">
                <li class="nav-item ">
                    <a class="nav-link" href=" {% url 'music:index'  %}">
                        <i class="fas fa-plus"></i></i>&nbsp;
                        Add Album
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-power-off"></i>&nbsp;
                        Log Out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
{% block body %}
{% endblock %}